.search-bar {
  margin: 3rem auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-name-input {
  width: 100%;
  padding-block: 1rem;
  text-indent: 5px;
  margin-right: 1rem;
}

.search-button {
  margin: 1rem auto;
}
