.search-bar {
  margin: 3rem auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-name-input {
  width: 60%;
  padding-block: 1rem;
  text-indent: 5px;
  margin-right: 1rem;
  transition: width 0.3s ease-in-out;
}

.file-name-input:focus {
  width: 100%;
}


.search-button {
  /* margin: 1rem auto; */
}
