.file-list-header {
  font-weight: 500;
}

.file-list-header > p {
  text-align: center;
  width: 100%;
  flex: 1;
}

.file-list,
.file-list-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.file-name {
  flex: 1;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 11px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.file-logo > img {
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
}

.file-list > .file-name:hover {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgb(246, 159, 159);
  cursor: pointer;
}

.date-modified {
  flex: 1;
  margin-right: 0.5rem;
}

.file-size {
  flex: 1;
}

.no-files {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-files-icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.3rem;
}

.no-files-text {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
