header {
  text-align: center;
}

.login-button {
  display: block;
  margin: 1rem auto;
}

.user-info {
  text-align: center;
  margin: 1rem auto;
  font-weight: 500;
}

.user-info > p {
  font-size: 1.3rem;
}

.logout-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.file-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 80%;
  margin: 1rem auto;
  list-style: none;
  padding: 0;
  border-radius: 11px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  position: relative;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), -1px -1px 4px rgba(0, 0, 0, 0.5);
}

.navigation {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 11px;
  padding: 3px;
}

.navigation:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.hidden {
  opacity: 0;
  transform: translateY(50%);
}