* {
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: rgb(245, 239, 239);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(241, 180, 180);
}

button:hover {
  background-color: rgb(254, 172, 172);
}

input {
  font: inherit;
  border: none;
}

input:focus {
  outline: none;
  border-radius: 11px;
}
